*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}
.name-heading{
    margin-bottom: 20px;
    padding: 10px auto;
    font-family: 'Heebo', sans-serif;
}
body{
    width: 100%;
    height:90vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;

}
.Calculator{
    border: 3px solid black;
    padding:20px;
    border-radius: 17px;
    width: 25%;
    height: 70vh;
    background-color:#1e4389;
}
input{
    width:100%;
    border: 3px solid;
    padding:24px;
    margin:10px;
    background: transparent;
    border-radius: 17px;
     font-size: 20px;
     text-align: right;
     box-shadow:0px 3px 15px rgb(230, 204, 204);
     background-color: rgb(241, 129, 59);
     font-family: 'Heebo', sans-serif;
}

input::placeholder{
    color:rgb(108, 17, 17);
    font-family: 'Heebo', sans-serif;
}
button{
    border:4px solid;
    width:50px;
    height:50px;
    margin: 10px;
    padding:3px;
    border-radius :25%;
    background: transparent;
    color:rgb(4, 4, 4);
    font-size:25px ;
    cursor: pointer;
    background-color: #f2f6fd;
    box-shadow:0px 3px 15px rgb(126, 124, 124);
    font-family: 'Heebo', sans-serif;
}
.equal{
    background-color: rgb(167, 77, 21);
}